{% extends 'admin/base.html.twig' %}
{% block body %}
    <div class="container-fluid px-xl-5">
        <div class="py-5">
            <div class="col-lg-6 mb-5">
                <div class="card">
                    <div class="card-header">
                        <h3 class="h6 text-uppercase mb-0">Пост</h3>
                    </div>
                    <div class="card-body">
                        {{ form_start(form) }}
                        {{ form_row(form.category, {'label' : 'Категорія'}) }}
                        {{ form_row(form.title, {'label' : 'Заголовок'}) }}
                        {{ form_row(form.text, {'label' : 'Текст'}) }}
                        {{ form_row(form.image, {'label' : 'Фото'}) }}
                        {{ form_row(form.is_visible), {'label' : 'Видимий для корисувачів'} }}
                        <button type="submit" class="btn btn-primary">Застосувати</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
