{% extends 'base.html.twig' %}
{% block body %}
<div class="site-section bg-light pt-2">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Останні пости</h2>
            </div>
        </div>
        <div class="row">
            {% for recentPost in recentPosts %}
            <div class="col-lg-4 mb-4">
                <div class="entry2">
                    <a href="#"><img src="{{ asset('uploads/img/' ~ recentPost.image) }}" alt="Image" class="img-fluid rounded"></a>
                    <div class="excerpt">
                        <span class="post-category text-white bg-secondary mb-3">{{ recentPost.category.name }}</span>

                        <h2><a href="{{ path('post', {id : recentPost.id}) }}">{{ recentPost.title }}</a></h2>
                        <div class="post-meta align-items-center text-left clearfix">
                            <span class="d-inline-block mt-1">Опублікував <span class="text-black font-weight-bold">{{ recentPost.author.name }}</span></span>
                            <span>&nbsp;-&nbsp; {{ recentPost.created | date('d/m/y') }}</span>
                        </div>

                        <p>{{ recentPost.text }}</p>
                        <p><a href="{{ path('post', {id : recentPost.id}) }}">Читати далі</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
